#show-order {
  display: none;
  margin-left: 50px;
}

body {
  background-color: teal;
  color: white;
}

.pizza {
  margin-bottom: 30px;
  margin-top: 40px;
  border: solid white 5px;
  width: 300px;

}

.receipts {
  margin-top: 50px;
}

.jumbotron {
  background-color: #FFF4E0;
  color: black;
}

.pizzaReceipt {
  margin-left: 50px;
}
